body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222; /* Черный цвет фона */
    color: #fff; /* Белый цвет текста */
    background-image: url('img/background 1.png'); /* Путь к изображению */
    background-size: cover; /* Растягиваем изображение на весь экран */
}

header {
    background-color: #8b0000; /* Темно-красный цвет для заголовка */
    color: #fff; /* Белый цвет текста */
    padding: 8px 0; /* Уменьшаем верхний и нижний отступы */
    text-align: center;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px; /* Уменьшаем размер логотипа */
    height: auto;
}

.game-frame {
    background-color: #333; /* Темно-серый цвет для рамки игрового поля */
    padding: 15px; /* Уменьшаем внутренний отступ */
    margin: 15px auto; /* Уменьшаем внешний отступ */
    max-width: 500px; /* Уменьшаем максимальную ширину */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: #fff; /* Белый цвет текста */
}

.hearts-container img {
    width: 16px; /* Уменьшаем размер сердечек */
    height: auto;
}

#progressBarContainer {
    margin-bottom: 8px; /* Уменьшаем нижний отступ */
    background-color: transparent;
    border-radius: 5px;
    height: 30px; /* Уменьшаем высоту контейнера */
    overflow: hidden;
}

#progressBar {
    background-color: #ff0000; /* Красный цвет для прогресс-бара */
    height: 100%;
    border-radius: 5px;
    width: 100%;
    animation: progressBarAnimation linear 30s forwards;
}

#timer {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 14px; /* Уменьшаем размер шрифта */
    color: #fff; /* Белый цвет текста */
}

#score {
    text-align: right;
}

footer {
    background-color: #333; /* Темно-серый цвет для подвала */
    color: #fff; /* Белый цвет текста */
    text-align: center;
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Убираем лишние элементы для будущих уровней */
#levelDescriptionModal,
#leaderboard,
#inputContainer {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #222;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    background-color: #8b0000; /* Темно-красный цвет для кнопки */
    color: #fff; /* Белый цвет текста */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #b30000; /* Красный цвет для кнопки при наведении */
}

button {
    background-color: #8b0000; /* Темно-красный цвет */
    color: #fff; /* Белый цвет текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Значок курсора при наведении */
    font-size: 16px; /* Размер шрифта */
}

button:hover {
    background-color: #b30000; /* Красный цвет при наведении */
}

input[type="text"] {
    width: 50%; /* Ширина поля занимает всю доступную ширину */
    padding: 10px; /* Отступы внутри поля */
    margin-bottom: 10px; /* Отступ снизу */
    border: 1px solid #ccc; /* Серая граница */
    border-radius: 5px; /* Закругление углов */
    box-sizing: border-box; /* Учитываем границу и отступы внутри размера поля */
    font-size: 16px; /* Размер шрифта */
}

input[type="text"]:focus {
    outline: none; /* Убираем обводку при фокусе */
    border-color: #8b0000; /* Цвет границы при фокусе */
}

.sentence {
    display: flex;
    flex-wrap: wrap;
}

.word, .synonym, .antonym {
    border: 1px solid #8b0000; /* Красная граница */
    background-color: #FFFFFF; /* Белый фон */
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px; /* Добавим отступ снизу */
    color: #8b0000; /* Красный цвет текста */
    cursor: pointer; /* Изменяем курсор при наведении */
}

.word:hover, .synonym:hover, .antonym:hover {
    background-color: #f8f8f8; /* Изменяем фон при наведении */
}

.word.clicked, .synonym.clicked, .antonym.clicked {
    background-color: #8b0000; /* Красный фон */
    color: #FFFFFF; /* Белый цвет текста */
}

.column {
    display: flex; /* Располагаем элементы внутри контейнера в виде строки */
    justify-content: space-between; /* Равномерно распределяем элементы по ширине контейнера */
}

.word-column {
    flex-basis: 45%; /* Задаем ширину первой колонки (слова) */
    margin-right: 10px; /* Отступ между колонками */
}

.synonyms-antonyms-column {
    flex-basis: 45%; /* Задаем ширину второй колонки (синонимы или антонимы) */
    margin-left: 10px; /* Отступ между колонками */
}

@keyframes ghostMove {
    0% {
        bottom: 50px; /* Начальная позиция */
    }
    50% {
        bottom: 150px; /* Середина волны */
    }
    100% {
        bottom: 50px; /* Конечная позиция */
    }
}

.ghost {
    position: fixed;
    width: 300px;
}

.ghost-left {
    left: 20px;
    bottom: 50px;
}

.ghost-right {
    right: 20px;
    bottom: 50px;
}

.ghost:hover {
    animation: ghostMove 1s infinite; /* Анимация движения */
}

.word-button {
    margin: 5px;
    padding: 10px 15px;
    border: 2px solid #8b0000;
    background-color: #222;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.word-button:hover {
    background-color: #8b0000;
    color: #fff;
}

.word-button.correct {
    background-color: #28a745; /* Зеленый цвет для правильного выбора */
    color: #fff;
    border-color: #28a745;
    pointer-events: none; /* Отключаем возможность клика */
}

.word-button.incorrect {
    background-color: #dc3545; /* Красный цвет для неправильного выбора */
    color: #fff;
    border-color: #dc3545;
    pointer-events: none; /* Отключаем возможность клика */
}

.word-button.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-5px); }
    40%, 80% { transform: translateX(5px); }
}


.sorting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-block {
    width: 30%;
    min-height: 300px;
    background-color: #333;
    border: 2px dashed #8b0000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.words-block {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.draggable-word {
    padding: 10px 15px;
    background-color: #8b0000;
    color: #fff;
    border-radius: 5px;
    cursor: grab;
    transition: all 0.3s ease;
}

.draggable-word.dragging {
    opacity: 0.5;
}

.draggable-word.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-5px); }
    40%, 80% { transform: translateX(5px); }
}

#totalTimer {
    text-align: center; /* Выравнивание текста по центру */
    font-size: 24px; /* Увеличенный размер шрифта */
    color: #fff; /* Белый цвет текста */
    margin-top: 20px; /* Отступ сверху */
    padding: 10px; /* Внутренние отступы */
    background-color: #8b0000; /* Темно-красный фон */
    border-radius: 10px; /* Закругленные углы */
    max-width: 400px; /* Ограничение ширины */
    margin-left: auto; /* Центрирование блока */
    margin-right: auto; /* Центрирование блока */
}

@keyframes moveWord {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(50px, 50px);
    }
    100% {
        transform: translate(-50px, -50px);
    }
}

.moving-word {
    position: absolute;
    cursor: grab;
    transition: left 0.3s ease, top 0.3s ease; /* Плавное перемещение */
}

#difficultyModal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#difficultyModal .modal-content {
    background: #222;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#difficultyModal button {
    margin: 10px;
}

.words-block {
    position: relative; /* Контейнер для абсолютного позиционирования */
    height: 300px;
}

.draggable-word {
    position: absolute;
    cursor: grab;
    transition: all 0.3s ease; /* Плавное перемещение */
}
