#container {
    position: absolute;
    width: 400px;
    height: 400px;
}

#A {
    position: relative;
    width: 150px;
    height: 150px;
    top:-400px;
    left:50px;
    fill:none;
}

#D {
    position: relative;
    width: 150px;
    height: 150px;
    top:-150px;
    left:250px;
    fill:none;
}

#ava {
    position: relative;
    top:10px;
    left:50px;
    width: 400px;
    height: 400px;
    opacity:0;

}



#text {
    position: relative;
    top:-350px;
    left:50px;
    opacity:0;
    z-index: 1;

}

#path1 {
  fill:#797070;
}

#path2 {
  fill:#797070;
}

#circ1 {
    opacity:0;
}

#A:hover #circ1{
    opacity:1;
}


#circ2 {
    opacity:0;
}

#D:hover #circ2{
    opacity:1;
}

.switchable input {
    display:none;
}

.switchable input:checked+#container #A {
  animation: slideme1 4s;
  animation-fill-mode: forwards;
}

.switchable input:checked+#container #A #path1{
  animation: slideme1 4s;
  animation-fill-mode: forwards;
}

.switchable input:checked+#container #D {
  animation: slideme2 4s;
  animation-fill-mode: forwards;
}


.switchable input:checked+#container #D #path2{
  animation: slideme2 4s;
  animation-fill-mode: forwards;
}

.switchable input:checked+#container #ava{
  animation: slideme3 6s;
  animation-fill-mode: forwards;

}

.switchable input:checked+#container #text{
  animation: slideme3 6s;
  animation-fill-mode: forwards;

}






@keyframes slideme1 {

  50% {
    fill:green;
  }

  75% {
    fill:red;
    opacity: .3;
  }
  100% {
      top:-240px;
      left:80px;
      fill:red;
      opacity: 0;
      display: none;
  }
}



@keyframes slideme2 {
  50% {
    fill:pink;
  }

  75% {
    fill:blue;
    opacity: .3;
  }
    100% {
      top:-240px;
      left:80px;
      fill:blue;
      opacity: 0;
      display: none;
    }
}

@keyframes slideme3 {

  40% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(0deg); opacity: 1;}

}


@keyframes slideme5 {
  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
