

.logo {
    text-decoration: none;
    display: inline;
    border: 1px solid;
    border-color: #2F4F4F;
    background-color: #000;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 60px;
    margin-top: 70px;
    transform: skew(0deg, 0deg);
    color: #909090;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    width: 100px;
    height: 100px;
    font-size: 70px;
    font-stretch: 150%;
    font-weight: bold;
    transition: all 200ms ease-in-out;
}

.letter {
    padding-top: 24px;
    padding-bottom: 0px;
    display: flex;
    width: 50px;
    height: 90px;
    justify-content: center;
    transition: all 200ms ease-in-out;
}


#J {
    background-color: #2F4F4F;
    border-color: #000;
}

#L {
    background-color: #FFF;
    color: #2F4F4F;
}

.logo:hover #L {
    font-weight: bolder;
    background-color: #FFF;
    color: #2F4F4F;
}

.logo:hover #J   {
    font-weight: bolder;
    background-color: #2F4F4F;
    border-color: #000;
}

.logo:hover {
    border-color: #fff;
}
