

body {
  background-color: #FFB6C1;
}
.container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    background-color: #f0f4f8; /* Цвет фона для контейнера */
    overflow: hidden;
}

.up {
    padding: 10px;
    height: 10vh;
    border: 1px solid #444; /* Цвет рамки */
    background-color: #ffcccb; /* Светло-розовый фон */
    color: #333; /* Цвет текста */
    font-weight: bold;
    overflow: hidden;
}

.down {
    display: flex;
    flex: 1;
    padding: 10px;
    gap: 10px; /* Отступы между левой и правой колонками */
}

.left, .right {
    flex: 1;
    border: 1px solid #444; /* Цвет рамки */
    margin-right: 10px;
    padding: 10px;
    background-color: #e7f5ff; /* Светло-голубой фон */
    overflow: hidden;
}

.right {
    margin-right: 0;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f9f9f9;
}

.right .top-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #cce7ff; /* Более глубокий голубой фон для верхней панели */
    padding: 5px;
    border-radius: 5px;
}

.right input[type="text"] {
    flex: 1;
    padding: 8px; /* Увеличенный внутренний отступ */
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #007bff; /* Цвет рамки для инпута */
    border-radius: 4px; /* Скругленные углы */
}

.right button {
    padding: 8px 12px; /* Увеличенные отступы */
    background-color: #007bff; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Скругленные углы */
    cursor: pointer; /* Курсор при наведении */
}

.right button:hover {
    background-color: #0056b3; /* Цвет при наведении на кнопку */
}

.word-item {
    background-color: #bbfaa8; /* Цвет фона элемента слова */
    margin: 5px 0;
    padding: 8px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    font-size: 16px;
    width: 200px;
    justify-content: center;
    color: #333; /* Цвет текста для элемента слова */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для элемента слова */
}

.abs {
    position: absolute;
}
